$card-bg: #FFF;

vocard .list{
  padding: 0;
  background-color: $card-bg;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

vocard .item {
  background-color: $card-bg;
  margin: 0;
  border: none;
}

vocard .item p {
  color: #888;
}

vocard .item.pollcard-item-header {
  text-align: center;
  padding-bottom: 8px;
  border-radius: inherit;
  height: 128px;
  a {
    display: inline-block;
    text-decoration: none;
  }
  a > .img-avatar {
    display: inline-block;
    vertical-align: middle; 
    padding-right: 3px;
    width: 40px;
    height: 40px;
  }
  a > span {
    display: inline-block;
    color: #000;
  }
  .question {
    height: 45px;
    margin: 0;
  }

  .question.vertical-center {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
  }
}

vocard .vote-area-wrapper {
  position: absolute;
  height: 180px;
  width: 100%;
  z-index: 10;
  .vote-area {
    height: 100%;
    padding: 0;
  }
  .answer-box {
    position: absolute;
    height: 42px;
    padding: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    margin: 0;
    border: none;
  }
  .answer-box .text-center {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
  }
  .answer-box h3 {
    white-space: normal;
    -webkit-white-space: normal;
    color: #888;
  }
  .answer-box .my-vote h3 {
    font-weight: bold;
    color: $royal;
  }
}

vocard .item-image {
  border: none;
}

vocard .item.pollcard-item-footer {
  padding: 0;
  padding-top: 15px;
  padding-bottom: 5px;
  border-radius: inherit;
  .result {
    height: 42px;
  }
  .pie-container {
    position: absolute; 
    width: 70px; 
    height: 70px; 
    top: 0; 
    left: 50%;
    margin-left: -35px;
  }
}

vocard .msg-card {
  color: #fff;
  background-color: #30BD8A;
  line-height: 300px;
  word-wrap: break-word;
  border: 6px solid #4CD68E;
  text-align: center;
}
vocard .msg-card span {
  display: inline-block;
  line-height: 40px;
  // width: 200px;
  font-size: 30px;
  vertical-align: middle;
}