<div ng-controller="RecentVotesCtrl as ctrl">
  <ion-content>
    <ion-refresher on-refresh="ctrl.fetchVotedPolls(true)">
    </ion-refresher>
    
    <vo-spinner ng-if="ctrl.polls.length === 0 && !ctrl.noMoreData">
    </vo-spinner>

    <div ng-repeat="poll in ctrl.polls">
      <vo-poll-card poll-data="poll"></vo-poll-card>
    </div>

    <ion-infinite-scroll
        ng-if="ctrl.polls.length > 0 && !ctrl.noMoreData"
        on-infinite="ctrl.fetchVotedPolls()">
    </ion-infinite-scroll>
  </ion-content>
</div>