<ion-view class="comments" view-title="Comments">
  <ion-content>
    <div class="list">
      <div class="item item-avatar" 
          ng-repeat="comment in ctrl.comments">
        <img ng-src="{{ comment.createdBy.picture }}">
        <h3 ng-bind="comment.createdBy.name"></h3>
        <p ng-bind="comment.text"></p>
      </div>
    </div>


  </ion-content>

    <form name="sendCommentForm" ng-submit="ctrl.addComment(sendCommentForm)" novalidate>
      <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
        <label class="item-input-wrapper">
          <textarea ng-model="ctrl.newComment" value="" placeholder="Add a comment..." required minlength="1" maxlength="1500" msd-elastic style="width: 100%"></textarea>
        </label>
        <div class="footer-btn-wrap">
          <button class="button button-small button-royal" 
                  type="submit"
                  ng-disabled="!ctrl.newComment|| ctrl.newComment=== ''">
            Send
          </button>
        </div>
      </ion-footer-bar>
    </form>
</ion-view>