<div ng-controller="RecentPollsCtrl as ctrl">
  <ion-content>
    <ion-refresher on-refresh="ctrl.fetchPolls(true)">
    </ion-refresher>

    <div class="spinner-wrapper"
        ng-if="ctrl.polls.length === 0 && !ctrl.noMoreData">
      <ion-spinner></ion-spinner>
    </div>
    
<!--     <div ng-repeat="poll in ctrl.polls">
      <vo-poll-card poll-data="poll"></vo-poll-card>
    </div>
 -->
 
    <div collection-repeat="poll in ctrl.polls"
        collection-item-width="'100%'"
        collection-item-height="220"
        ng-style="{height: 220}">
      <vo-poll-card poll-data="poll"></vo-poll-card>
    </div>

    <ion-infinite-scroll
        ng-if="ctrl.polls.length > 0 && !ctrl.noMoreData"
        on-infinite="ctrl.fetchPolls()">
    </ion-infinite-scroll>
  </ion-content>
</div>