.notification {

  .item-container {
    padding: 5px 10px 5px 10px
  }
  .item {
    padding-left: 65px;
    padding-top: 7px;
    padding-bottom: 7px;
    min-height: 56px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
  }
  .item a {
    text-decoration: none;
    color: $dark;
    font-weight: bold;
  }  
  .item a.activated {
    opacity: 0.5;
  } 
  .item p {
    font-size: 11px;
    overflow: auto;
    text-overflow: initial;
    white-space: normal;
  }
  .item img.img-avatar {
    left: 15px;
    position: absolute;
    vertical-align: initial;
  }
}