.pollcard {

}

.pollcard ion-content {
  bottom: 49px;
}

.pollcard .card-container {
  z-index: 1; 
  position: absolute;
  padding: 0;
  width: 300px;
  left: 50%;
  height: 390px;
  margin-left: -150px;
  margin-top: 30px;
  background-color: transparent;  
}
.pollcard .card-container {
  background-color: transparent;
}

@media (min-width: 360px) {
  .pollcard .card-container {
    width: 330px;
    margin-left: -165px;
  }
}