.pollcard {

}

.pollcard .poll-card {
  z-index: 1; 
  position: absolute;
  -webkit-transform: scale(1,1);
  width: 96%;
  left: 50%;
  top: 50%;
  height: 420px;
  margin-left: -48%;
  margin-top: -210px;
  -webkit-animation-fill-mode: forwards;
}

.platform-ios .pollcard swipe-card {
  margin-top: -200px;
}

@media (min-width: 680px) {
  .pollcard swipe-card {
    width: 60%;
    margin-left: -30%;
  }
}

.pollcard .poll-card .vote-area {
  position:absolute; 
  height: 300px; 
  top: 70px;
  z-index:10;
}