.profile {

}

.profile ion-content{
  margin-top: 44px
}
.profile .sub-tab-bar{
  color: grey;
}
.profile .sub-tab-bar .col {
  // border-bottom: 2px solid #444444;
  height: 37px;
  margin-left: 10px;
  margin-right: 10px;
}
.profile .sub-tab-bar a.selected{
  color: #444444;
}


.profile .tabs-striped .tabs {
  height: 44px;
}
.profile .tabs-striped a {
  line-hight: 44px;
}