.profile {

}

.profile .profile-info {
  background-color: #fff;
  position: relative;
  z-index: 1000;
}

.profile .profile-picture {
  // display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 80px;
  height: 80px;
  margin: 10px 0 0 10px;
  // margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}

.profile ion-tabs.has-custom-control .tabs {
  display: none;
}

.profile ion-pane {
  background: transparent;
}

.profile ion-content.nested {
  bottom: 0;
}

.profile ion-content.nested .padding {
  height: 270px;
}

// .profile ion-content.nested .scroll-refresher {
//   top:  210px; // -60px(default) + 270px(padding)
// }

// .profile .bar-subheader {
//   box-shadow: 0 2px 5px rgba(0,0,0,0.26);
// }

// .profile .button-bar.center {
//   text-align:center ;
//   -webkit-box-flex: 0 1 auto ; 
//   -webkit-flex:  0 1 auto ; 
//   -moz-box-flex:  0 1 auto ; 
//   -moz-flex:  0 1 auto ; 
//   -ms-flex:  0 1 auto ; 
//   flex:  0 1 auto ; 
//   width: 70% ;
//   margin:auto ;
// }

// .profile .button-bar .button.activated {
//   // background: rgba(9, 12, 74, 0.3)
//   // background: rgba(121, 85, 72, 0.3);
//   background: rgba(63, 81, 181, 0.3);
// }
// .profile .button-bar .button.active {
//   -webkit-transition: background .1s ease-out;
//   transition: background .1s ease-out;
// }


// .platform-android {
//   // when tabs are on top
//   // .profile .bar-subheader.has-tabs-top {
//   //   top: 93px;
//   // }
//   // .profile ion-content{
//   //   top: 137px;
//   //   height: auto;
//   //   bottom: 0;
//   // }
//   .profile ion-content{
//     top: 87px;
//     height: auto;
//     bottom: 49px;
//   }
// }

// .profile .list .poll-card-wrapper {
//   margin: 0;
//   padding: 0;
//   border-color: #fff; // removing border casues error(c-r) so hide with color
// }

.profile .spinner-wrapper {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  height: 100px;  
}