<ion-view class="profile" view-title="{{ctrl.profileName}}">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-gear-a"
        href="#/tab/settings">
    </a>
  </ion-nav-buttons>

  <div class="bar sub-tab-bar">
    <a ng-click="ctrl.selectTab('myVotes')"
      ng-class="{active: ctrl.selectedTab === 'myVotes'}">
      My Votes
    </a>
    <a ng-click="ctrl.selectTab('myPolls')"
      ng-class="{active: ctrl.selectedTab === 'myPolls'}">
      My Polls
    </a> 
  </div>

  <div ng-if="ctrl.selectedTab === 'myVotes'" 
      ng-include="'app/profile/recentVotes/recentVotes.html'">
  </div>
  <div ng-if="ctrl.selectedTab === 'myPolls'"
      ng-include="'app/profile/recentPolls/recentPolls.html'">
  </div>
 </ion-view>