$card-bg: #FFF;

.home {
}

.home ion-content {
  bottom: 49px;
}

.home swipe-card {
  z-index: 1; 
  position: absolute;
  padding: 0;
  -webkit-transform: scale(1,1);
  width: 300px;
  left: 50%;
  top: 50%;
  height: 390px;
  margin-left: -150px;
  margin-top: -195px;
  -webkit-animation-fill-mode: forwards;
  background-color: transparent;  
}
.home .swipe-card {
  background-color: transparent;
}

@media (min-width: 360px) {
  .home swipe-card {
    width: 330px;
    margin-left: -165px;
  }
}

.home .msg-card {
  color: #000;
  background-color: #fff;
  line-height: 300px;
  word-wrap: break-word;
  text-align: center;
  border-radius: 5px;
  height: 348px;
  border: 3px solid #fff;
}
.home .msg-card span {
  display: inline-block;
  line-height: 30px;
  font-size: 21px;
  vertical-align: middle;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

.home swipe-card.pop-in {
  -webkit-animation: bounceIn 0.4s ease-out;
}

//=======Create Poll Modal==============

.create-poll-modal {
  background: -webkit-radial-gradient(#CDCCD0, #777879); 
  background: radial-gradient(#CDCCD0, #777879);
  
  .scroll {
    height: 390px;
  }
  
  .form-wrapper {
    width: 300px;
    height: 390px;
    margin: auto;
    background-color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #fff;
    margin-top: calc((100VH - 10px - 52px - 49px - 390px)/2); // vh - status bar - header - tabs - card height
    @media (min-width: 360px) {
      width: 330px;
    }
  } 
  .item-input {
    margin: 0;
  }
  .padding {
    padding: 20px;
  }
  vo-card-img {
    background-color: #89898B;
  }
  vo-card-img .pic1, 
  vo-card-img .pic2 {
    background-color: transparent !important;
  }
  .action-box {
    width: 200px;
    height: 80px;
    margin: auto;
    margin-top: -150px;
    margin-bottom: 28px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
  }
  .action-box-content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1px;
  } 
  .answer-row {
    position: relative;
    background-color: #fff;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .answer-row .col {
    padding: 0;
  }
  .answer-row input {
    margin: auto;
    width: 110px;
    border: 1px solid #89898B;
    border-radius: 0;
    padding: 0;
  }
}
//=======Img Search Modal==============
.img-search-modal {
  background: -webkit-radial-gradient(#CDCCD0, #777879); 
  background: radial-gradient(#CDCCD0, #777879);

  .img-box {
    width: 33.33%;
    float: left;
    padding: 1px;
    height: 33vw;
  }
  .img-box img {
    height: 100%;
    width: 100%;
  }
}