$card-bg: #FEFFFA;

.home {
}

.home swipe-card {
  z-index: 1; 
  position: absolute;
  -webkit-transform: scale(1,1);
  width: 310px;
  left: 50%;
  top: 50%;
  height: 386px;
  margin-left: -155px;
  margin-top: -193px;
  -webkit-animation-fill-mode: forwards;
}

@media (min-width: 360px) {
  .home swipe-card {
    width: 340px;
    margin-left: -170px;
  }
}

.home .poll-card {
  background-color: $card-bg;
}

.home .poll-card .item {
  background-color: $card-bg;
  margin: 0;
  border: none;
}


.home .item.pollcard-item-header {
  text-align: center;
  padding-bottom: 8px;
  a {
    display: inline-block;
    text-decoration: none;
  }
  a > img {
    display: inline-block;
    vertical-align: middle; 
    padding-right: 3px;
  }
  a > span {
    display: inline-block;
    color: #000;
  }
  .question {
    margin-top: 8px;
    font-size: 26px;
    font-weight: 400;
  }
}

.home .vote-area-wrapper {
  position: absolute;
  height: 180px;
  width: 100%;
  z-index: 10;
  .vote-area {
    height: 100%;
    padding: 0;
  }
  .answer-box {
    position: absolute;
    height: initial;
    padding: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    margin: 0;
    border: none;
  }
  .answer-box .text-center {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
  }
  .answer-box h3 {
    white-space: normal;
  }
}

.home .item-image {
  border: none;
}

.home .item.pollcard-item-footer {
  padding: 0;
  padding-top: 15px;
}

.home .msg-card {
  color: #fff;
  background-color: #30BD8A;
  line-height: 300px;
  word-wrap: break-word;
  border: 6px solid #4CD68E;
  text-align: center;
}
.home .msg-card span {
  display: inline-block;
  line-height: 40px;
  // width: 200px;
  font-size: 30px;
  vertical-align: middle;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

.home swipe-card.pop-in {
  -webkit-animation: bounceIn 0.4s ease-out;
}