$card-bg: #FFF;

.home {
}

.home ion-content {
  bottom: 49px;
}

.home swipe-card {
  z-index: 1; 
  position: absolute;
  padding: 0;
  -webkit-transform: scale(1,1);
  width: 300px;
  left: 50%;
  top: 50%;
  height: 390px;
  margin-left: -150px;
  margin-top: -195px;
  -webkit-animation-fill-mode: forwards;
  background-color: transparent;  
}
.home .swipe-card {
  background-color: transparent;
}

@media (min-width: 360px) {
  .home swipe-card {
    width: 330px;
    margin-left: -165px;
  }
}

.home .poll-card {
  padding: 0;
  background-color: $card-bg;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.home .poll-card .item {
  background-color: $card-bg;
  margin: 0;
  border: none;
}

.home .poll-card .item p {
  color: #888;
}

.home .item.pollcard-item-header {
  text-align: center;
  padding-bottom: 8px;
  border-radius: inherit;
  height: 128px;
  a {
    display: inline-block;
    text-decoration: none;
  }
  a > .img-avatar {
    display: inline-block;
    vertical-align: middle; 
    padding-right: 3px;
    width: 40px;
    height: 40px;
  }
  a > span {
    display: inline-block;
    color: #000;
  }
  .question {
    margin-top: 8px;
    font-size: 28px;
    font-weight: 400;
  }
}

.home .vote-area-wrapper {
  position: absolute;
  height: 180px;
  width: 100%;
  z-index: 10;
  .vote-area {
    height: 100%;
    padding: 0;
  }
  .answer-box {
    position: absolute;
    height: 42px;
    padding: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    margin: 0;
    border: none;
  }
  .answer-box .text-center {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
  }
  .answer-box h3 {
    white-space: normal;
    -webkit-white-space: normal;
    color: #555;
  }
  .answer-box .my-vote h3 {
    font-size: 15px;
    font-weight: bolder;
    color: #000;
  }
}

.home .item-image {
  border: none;
}

.home .item.pollcard-item-footer {
  padding: 0;
  padding-top: 15px;
  padding-bottom: 5px;
  border-radius: inherit;
  .result {
    height: 42px;
  }
  .pie-container {
    position: absolute; 
    width: 70px; 
    height: 70px; 
    top: 0; 
    left: 50%;
    margin-left: -35px;
  }
}

.home .msg-card {
  color: #fff;
  background-color: #30BD8A;
  line-height: 300px;
  word-wrap: break-word;
  border: 6px solid #4CD68E;
  text-align: center;
}
.home .msg-card span {
  display: inline-block;
  line-height: 40px;
  // width: 200px;
  font-size: 30px;
  vertical-align: middle;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

.home swipe-card.pop-in {
  -webkit-animation: bounceIn 0.4s ease-out;
}