<ion-modal-view class="create-poll-modal">
  <ion-header-bar class="bar-royal">
    <button class="button button-clear"
        ng-click="home.closeModal()">
        Cancel
    </button>
    <h1 class="title">New Poll</h1>
  </ion-header-bar>
  <ion-content class="" delegate-handle="createScroll">
    <div class="form-container">
      <div class="form-wrapper" adjust-margin>

      <form name="newPollForm">
        <div class="padding"></div> 
        <div class="item item-input">
          <input type="text" 
                  class="text-center"
                  blur-Me="home.questionDone"
                  ng-keypress="home.handleReturnKey($event, 'question')"
                  placeholder="What's your question?"
                  ng-model="home.newPoll.question"
                  maxlength="100"
                  required>
        </div>
        <div style="padding: 10px"></div>
        <vo-card-img 
          height="180px"
          src1="{{home.newPoll.answer1.picture}}"
          src2="{{home.newPoll.answer2.picture}}">
        </vo-card-img>
        <div class="card action-box">
          <span style="position: absolute;padding:5px;background-color: rgba(0,0,0,0.1);"
                ng-if="home.newPoll.answer1.picture"
                ng-click="home.cancelPicture(1)">
            <a href="#"
                style="color: #fff">
              <i class="ion ion-close"></i>
            </a>
          </span>
          <span style="position: absolute;padding:5px; left: 50%;background-color: rgba(0,0,0,0.1);"
                ng-if="home.newPoll.answer2.picture"
                ng-click="home.cancelPicture(2)">
            <a href="#"
                style="color: #fff"
              <i class="ion ion-close"></i>
            </a>
          </span>
          <div class="action-box-content"
                ng-if="!home.newPoll.answer2.picture">
            <h5 class="text-center" 
                ng-if="!home.newPoll.answer1.picture">
              Add your pictures
            </h5>
            <h5 class="text-center" 
                ng-if="home.newPoll.answer1.picture">
              Add more picture
            </h5>
            <div class="row buttons">
              <a class="tab-item" 
                  href="#"
                  ng-click='home.getPhoto("CAMERA")'>
                <i class="icon ion-ios-camera"></i>
              </a>
              <a class="tab-item" 
                  href="#" 
                  ng-click='home.getPhoto("PHOTOLIBRARY")'>
                <i class="icon ion-images"></i>
              </a>
              <a class="tab-item" 
                  href="#"
                  ng-click='home.openImgSearchModal()'>
                <i class="icon ion-search"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="row answer-row">
          <div class="col">
            <input type="text" 
                  class="text-center" 
                  ng-model="home.newPoll.answer1.text"
                  ng-keypress="home.handleReturnKey($event, 'answer1')"
                  maxlength="30"
                  placeholder="Answer"/>
          </div>
          <div class="col">
            <input type="text" 
                  class="text-center" 
                  ng-model="home.newPoll.answer2.text"
                  focus-Me="home.answer1Done"
                  blur-Me="home.answer2Done"
                  ng-keypress="home.handleReturnKey($event, 'answer2')"
                  maxlength="30"
                  placeholder="Answer"/>
          </div>
        </div>
      </form> 
      <button class="button button-block button-royal"
              ng-click="home.createPoll()">
        Create
      </button>

      </div> 
    </div> 
  </ion-content>
</ion-modal-view>