<ion-view view-title="VOGO" class="home">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-plus-round"
      ng-click="home.openModal()"></a>
  </ion-nav-buttons>

  <ion-content scroll="false" ng-controller="CardsCtrl as cardsCtrl">
    <div class="spinner-center" ng-if="cardsCtrl.loading">
      <ion-spinner></ion-spinner>
    </div>
    <swipe-cards>
      <swipe-card class="msg-card"
                  ng-repeat="card in cardsCtrl.msgCards"
                  on-destroy="cardsCtrl.cardDestroyed($index, true)"
                  on-card-swipe="cardsCtrl.cardSwiped($index)" 
                  ng-bind-html="card.message">
      </swipe-card>
      <swipe-card ng-repeat="poll in cardsCtrl.polls" 
                  on-destroy="cardsCtrl.cardDestroyed($index)" 
                  on-card-swipe="cardsCtrl.cardSwiped()">
        <div class="poll-card list">
          <div class="item pollcard-item-header">
            <a href="#" ng-click="tabCtrl.go('profile', { id: poll.createdBy.userId, user: poll.createdBy })">
              <img class="img-avatar" ng-src="{{poll.createdBy.picture}}">
              <span ng-bind="::poll.createdBy.name"></span>
            </a>
            <h3 class="question" ng-bind="::poll.question"></h3>
            <p class="hits-total">
              <i class="icon ion-checkmark-round"></i>
              {{poll.answer1.numVotes + poll.answer2.numVotes}} HITS
            </p>
          </div>

          <div class="vote-area-wrapper">
            <div class="row vote-area">
              <div class="col" ng-click="cardsCtrl.vote(poll, 1);"></div>
              <div class="col" ng-click="cardsCtrl.vote(poll, 2);"></div>
            </div>
            <div class="row item answer-box">
              <div class="col text-center" ng-click="cardsCtrl.vote(poll, 1);">
                <h3 ng-bind="::poll.answer1.text"></h3>
              </div>
              <div class="col text-center" ng-click="cardsCtrl.vote(poll, 2);">
                <h3 ng-bind="::poll.answer2.text"></h3>
              </div>
            </div>
          </div>

          <div class="item item-image">
            <vo-card-img src1="{{::poll.answer1.picture}}"
                          src2="{{::poll.answer2.picture}}"
                          height="180px">
            </vo-card-img>
          </div>

          <div class="item pollcard-item-footer">
            <div class="row result">
              <p class="col text-center" 
                  ng-if="poll.voted">
                {{poll.answer1.numVotes}} HITS
              </p>
              <span class="col col-10 text-center" 
                  ng-if="poll.voted">
                <div class="pie-container">
                  <pie-chart data="cardsCtrl.pieData" 
                              options="cardsCtrl.pieOptions">
                  </pie-chart>
                </div>
              </span>
              <p class="col text-center" 
                  ng-if="poll.voted">
                {{poll.answer2.numVotes}} HITS
              </p>
            </div>
            <p>
              <a style="opacity: 0">s</a>
              <a href="#" 
                  class="subdued" 
                  style="float: right; padding-right: 10px;"
                  ng-click="tabCtrl.go('comments', { pollId: poll.id, poll: poll })">
                  <i class="ion-edit"></i>
                {{poll.numComments }} COMMENT
              </a>
            </p>
          </div>
        </div>
      </swipe-card>
    </swipe-cards>
  </ion-content>
</ion-view>
