<ion-view view-title="<div id='app-logo'>Vogo</div>" class="home">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-plus-round"
      ng-click="home.openModal()"></a>
  </ion-nav-buttons>

  <ion-content ng-controller="CardsCtrl as cardsCtrl"
                scroll="false">
    <div class="spinner-center" ng-if="cardsCtrl.loading">
      <ion-spinner></ion-spinner>
    </div>
    <swipe-cards>
      <swipe-card class="msg-card"
                  ng-repeat="card in cardsCtrl.msgCards"
                  on-destroy="cardsCtrl.cardDestroyed($index, true)"
                  on-card-swipe="cardsCtrl.cardSwiped($index)" 
                  ng-bind-html="card.message">
      </swipe-card>
      <swipe-card ng-repeat="poll in cardsCtrl.polls" 
                  on-destroy="cardsCtrl.cardDestroyed($index)" 
                  on-card-swipe="cardsCtrl.cardSwiped()">
        <vocard></vocard>
      </swipe-card>
    </swipe-cards>
  </ion-content>
</ion-view>
