.polldetail {
  
  ion-content {
    border: none;
  }
  .list.poll-info {
    margin-bottom: 10px;
  }

  .detail-item-info {
    background-color: #fff;
    font-size: 12px;
    padding-top: 8px;
    text-align: right;
    padding-right: 10px;
    .user-name > span {
      padding-right: 10px;
    }
    .user-name > .img-avatar {
      height: 22px;
      width: 22px;
    }
    .hits-total {
      display: inline-block;
      padding-left: 20px;
      border-left: 1px solid grey;
    }
  }

  .detail-item-header {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
      height: 70px;
      margin-top: 0;
      border-top: 0;
      padding-top: 0;
    .question {
      white-space: normal;
    }
  }

  .vote-area-wrapper {
    position: absolute;
    height: 60vw;
    width: 100%;
    z-index: 10;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.3)));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    .vote-area {
      height: 100%;
      padding: 0;  
    }
    .answer-box {
      position: absolute;
      height: 42px;
      padding: 0;
      bottom: 0;
      // background: rgba(255, 255, 255, 0.8);
      background: transparent;
      margin: 0;
      border: none;
    }
    .answer-box .text-center {
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;
    }
    .answer-box h3 {
      white-space: normal;
      -webkit-white-space: normal;
      color: #fff;
    }
    .answer-box .my-vote h3 {
      font-weight: bold;
      color: $royal;
    }
  }
  .item-image {
    border: 0;
  }

  .detail-item-result {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 5px;
    border-radius: inherit;
    background-color: transparent;
    border-bottom: none;
    .result {
      height: 42px;
    }
    .pie-container {
      position: absolute; 
      width: 70px; 
      height: 70px; 
      top: 0; 
      left: 50%;
      margin-left: -35px;
    }
    .pie-container .arc {
      stroke: rgba(255, 255, 255, 0) !important;
    }
  }

  .comment-area {
    padding: 10px;
    .comment-header {
      border-bottom: 1px solid black;
    }
    .comment-header p {
      margin-bottom: 5px;
    }
    .item-comment {
      border: none;
      background-color: transparent;
      padding: 0;
      padding-left: 42px;
      padding-top: 8px;  
      min-height: 48px;
    }
    .item-comment > img {
      top: 10px;
      max-width: 30px;
      max-height: 30px;
      left: 5px;
    }
    .item-comment .name {
      font-weight: bold;
    }
    .item-comment > p {
      white-space: normal;
      font-size: 12px;
      color: black;
    }
  }
  
  ion-footer-bar {
    textarea {
      padding-top: 15px;
    }
  }
}