<ion-view class="userlist" view-title="{{userlist.title}}">
  <ion-content>
    <div class="list">
      <div class="item" 
            collection-repeat="user in userlist.users">
        <a href="#" 
            ng-click="tabCtrl.go('profile', { id: user.userId, user: user })">
          <img class="img-avatar" ng-src="{{ user.picture }}">
          <span class="ft-orator name" 
                ng-bind="user.name">
          </span>
        </a>

        <div class="btn-container"
              ng-if="user.userId !== userlist.me.id">
          <a class="button button-small button-balanced" 
            href="#"
            ng-click="userlist.unfollow(user)"
            ng-if="user.following === true">
            Following
          </a>
          <a class="button button-small" 
            href="#"
            ng-click="userlist.follow(user)"
            ng-if="user.following === false">
            + Follow
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

