.poll-card {

}
.poll-card .bar-graph-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.poll-card .bar-graph {
  height: 20px;
  // border: 1px solid #DDDDDD;
  // background-color: $stable;
}
.poll-card .bar-graph-bar {
  height: 100%;
  background-color: $dark;
}