<div class="poll-card">
  <div class="card">
    <div class="item item-divider text-center">
      <h3>
        {{ pollData.subject1.text }} vs {{ pollData.subject2.text }}
      </h3> 
    </div>
    <div class="item item-text-wrap bar-graph-container">
      <div class="col-25 text-center">
        <h4>{{ pollData.subject1.text }}</h4>
      </div>
      <div class="col-67 padding">
        <div class="bar-graph">
          <div class="bar-graph-bar" 
              style="width: {{ getRatioOne(pollData) }}%;">
          </div>
        </div>
      </div>
      <div class="col"><h4> {{ pollData.subject1.numVotes }} </h4></div>
    </div>
    <div class="item item-text-wrap bar-graph-container">
      <div class="col-25 text-center">
        <h4>{{ pollData.subject2.text }}</h4>
      </div>
      <div class="col-67 padding">
        <div class="bar-graph">
          <div class="bar-graph-bar" 
                style="width: {{ getRatioTwo(pollData) }}%;">
          </div>
        </div>
      </div>
      <div class="col"><h4> {{ pollData.subject2.numVotes }} </h4></div>
    </div>
  </div>
</div>