<ion-modal-view class="create-poll-modal">
  <ion-header-bar class="bar-light">
    <button class="button button-clear button-royal"
        ng-click="ctrl.closeModal()">Cancel</button>
    <h1 class="title">New Poll</h1>
  </ion-header-bar>
  <ion-content class="padding">
  
    <form ng-submit="ctrl.createPoll()" name="newPollForm">
      <div class="item item-input">
        <input type="text" 
                placeholder="what's your question?"
                ng-model="ctrl.newPoll.question"
                required>
      </div>

      <vo-card-img 
        height="300px"
        src1="{{ctrl.newPoll.answer1.picture}}"
        src2="{{ctrl.newPoll.answer2.picture}}">
      </vo-card-img>
      <div class="card">
        <div class="row buttons" ng-if="!ctrl.newPoll.answer2.picture">
          <a class="tab-item" href="#">
            <i class="icon ion-ios-camera"></i>
          </a>
          <a class="tab-item" href="#" ng-click='ctrl.getPhoto()'>
            <i class="icon ion-images"></i>
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card">
            <input type="text" 
                  class="text-center" 
                  style="width: 100%"
                  ng-model="ctrl.newPoll.answer1.text"
                  maxlength="30"
                  required/>
          </div>
        </div>
<!--         <div class="col-5" class="text-center" style="line-height:86px;">
          <strong>VS</strong>
        </div>
 -->        <div class="col">
          <div class="card">
            <input type="text" 
                  class="text-center" 
                  style="width: 100%"
                  ng-model="ctrl.newPoll.answer2.text"
                  maxlength="30"
                  required/>
          </div>
        </div>
      </div>

      <input type="submit" 
            value="Create"
            class="button button-block button-royal"
            ng-disabled="newPollForm.$invalid"/>
    </form> 

  </ion-content>
</ion-modal-view>