<ion-view view-title="Home" class="home">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-plus-round"
      ng-click="ctrl.openModal()"></a>
  </ion-nav-buttons>

  <ion-pane ng-controller="CardCtrl as cardCtrl">
    <swipe-cards>
      <div class="spinner-wrapper" ng-if="ctrl.loading">
        <ion-spinner></ion-spinner>
      </div>
      <swipe-card class="msg-card card"
                  ng-repeat="card in ctrl.msgCards"
                  on-destroy="ctrl.cardDestroyed($index, true)"
                  on-card-swipe="ctrl.cardSwiped($index)" 
                  ng-bind-html="card.message">
      </swipe-card>
      <swipe-card class="poll-card card list" 
                  ng-repeat="poll in ctrl.polls" 
                  on-destroy="ctrl.cardDestroyed($index)" 
                  on-card-swipe="ctrl.cardSwiped()">

        <div class="item item-avatar">
          <img ng-src="{{poll.createdBy.picture}}">
          <span class="item-note">
            {{poll.answer1.numVotes + poll.answer2.numVotes}} hits
          </span>
          <h2 ng-bind="::poll.createdBy.name"></h2>
          <p ng-bind="::poll.question"></p>
        </div>

        <div class="vote-area row">
          <div class="col" ng-click="cardCtrl.vote(poll, 1);"></div>
          <div class="col" ng-click="cardCtrl.vote(poll, 2);"></div>
        </div>

        <div class="item item-image">
          <vo-card-img src1="{{::poll.answer1.picture}}"
                        src2="{{::poll.answer2.picture}}"
                        height="250px">
          </vo-card-img>
        </div>
        <div class="item" style="padding: 0;">
          <div class="row">
            <h3 class="col text-center" 
                style="white-space: normal;"
                ng-bind="::poll.answer1.text"></h3>
            <h3 class="col text-center" 
                style="white-space: normal;"
                ng-bind="::poll.answer2.text"></h3>
          </div>
          <div class="row" style="height: 30px">
            <h3 class="col text-center" 
                ng-show="poll.voted"
                style="white-space: normal;">
              {{poll.answer1.numVotes}} hits
            </h3>
            <h3 class="col text-center" 
                ng-show="poll.voted"
                style="white-space: normal;">
              {{poll.answer2.numVotes}} hits
            </h3>
          </div>
          <p>
            <a style="opacity: 0">s</a>
            <a href="#" class="subdued" ng-click="tabCtrl.go('comments')">
              {{poll.numComments }} Comments
            </a>
          </p>
        </div>
      </swipe-card>
    </swipe-cards>
  </ion-pane>
</ion-view>
