<ion-view view-title="Home" class="home">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-plus-round"
      ng-click="ctrl.openModal()"></a>
  </ion-nav-buttons>

  <ion-pane>
    <swipe-cards>
      <swipe-card ng-repeat="card in ctrl.msgCards"
                  on-destroy="ctrl.cardDestroyed($index, true)"
                  on-card-swipe="ctrl.cardSwiped($index)" 
                  class="msg-card"
                  ng-bind-html="card.message">
      </swipe-card>
      <swipe-card ng-repeat="poll in ctrl.polls" 
                  on-destroy="ctrl.cardDestroyed($index)" 
                  on-card-swipe="ctrl.cardSwiped()">
        <div ng-controller="CardCtrl as cardCtrl" class="card poll-box">
          <div class="row">
            <div class="col">
              <br>
              <h3 class="text-center" ng-bind="poll.subject1.text"></h3>
              <div class="text-center">
                <br><br><br><br><br>
                <button class="button button-icon icon ion-heart" ng-click="cardCtrl.vote(poll, 1)">
                </button>
              </div>
            </div>
            <div class="col">
              <br>
              <h3 class="text-center" ng-bind="poll.subject2.text"></h3>
              <div class="text-center">
                <br><br><br><br><br>
                <button class="button button-icon icon ion-heart" ng-click="cardCtrl.vote(poll, 2)">
                </button>
              </div>
            </div>
          </div>
        </div>
      </swipe-card>
    </swipe-cards>
  </ion-pane>
</ion-view>
