<ion-view view-title="Home" class="home">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-plus-round"
      ng-click="ctrl.openModal()"></a>
  </ion-nav-buttons>

  <ion-pane>
    <swipe-cards>
      <div class="spinner-wrapper" ng-if="ctrl.loading">
        <ion-spinner></ion-spinner>
      </div>
      <swipe-card class="msg-card"
                  ng-repeat="card in ctrl.msgCards"
                  on-destroy="ctrl.cardDestroyed($index, true)"
                  on-card-swipe="ctrl.cardSwiped($index)" 
                  ng-bind-html="card.message">
      </swipe-card>
      <swipe-card class="poll-card" 
                  ng-repeat="poll in ctrl.polls" 
                  on-destroy="ctrl.cardDestroyed($index)" 
                  on-card-swipe="ctrl.cardSwiped()">
        <div ng-controller="CardCtrl as cardCtrl">
          <div class="subject row">
            <div class="col">
              <h3 class="text-center" ng-bind="poll.subject1.text"></h3>
            </div>
            <div class="col">
              <h3 class="text-center" ng-bind="poll.subject2.text"></h3>
            </div>
          </div>
          <div class="heart row">
            <div class="col">
              <div class="text-center">
                <i class="icon ion-ios-heart heart-button"
                    ng-click="cardCtrl.vote(poll, 1);"></i>  
              </div>
            </div> 
            <div class="col">
              <div class="text-center">
                <i class="icon ion-ios-heart heart-button"
                    ng-click="cardCtrl.vote(poll, 2);"></i>  
              </div>
            </div> 
          </div>
        </div>  
      </swipe-card>
    </swipe-cards>
  </ion-pane>
</ion-view>
