.profile {

}

.profile .profile-info {
  background-color: transparent;
  position: relative;
  z-index: 1000;
  height: 155px;
  padding: 10px;
  @media (min-width: 360px) {
    padding: 15px;
  } 
}

.profile .profile-info-content {
  height: 135px;
  background-color: #C9C9CB;
  border-radius: 5px;
  .col-50 {
    padding-left: 15px;
    padding-right: 0px;
  }
}

.profile .profile-picture {
  border-radius: 100px;
  background-color: #DDD;
  width: 68px;
  height: 68px;
}

.profile .profile-actions {
  padding-left: 25px;
  .button {
    width: 100%;
    margin-bottom: 2px;
  }
  .button.has-number {
    text-align: initial;
    span {
      float: right;
    }
  }
  .button-follow {
    color: #000020;
    border-color: #000020;
    background-color: #E0DFE6;

  }
}

.profile .button-row {
  padding: 0;
  :first-child {
    padding-left: 0;
  }
  :nth-child(2) {
    padding-right: 0;
  }
  .button-dark {
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.6);
  }
  .button-dark.activated {
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0);
  }
  .button-dark.active {
    border-color: #3F3353;
    background-color: $royal;
  }
  .button-dark {
    border-color: #7D788B;
    background-color: #63607E;
  }
}

.profile ion-content.nested {
  bottom: 0;
  border: none;
  .padding {
    height: 210px;
  }
  .scroll-refresher {
    top:  150px; // -60px(default) + 210px(padding)
  }
}

.profile ion-content.nested .item-container {
  .item   {
    padding-right: 10px;
  }
  .thumbnail {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 98px;
    max-height: 98px;
    width: 100%;
    height: 100%;
  }
  .thumbnail .pic1 {
    background-color: #CCC !important;
  }
  p {
    font-size: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .img-avatar {
    vertical-align: middle;
    width: 20px;
    height: 20px;
  }
  .name {
    color: black;
  }
  .total-hits {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 10px 0 0;
    background-color: inherit;
  }
  .question {
    margin: 0px;
    height: 50px;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
  }
  .question > h3 {
    max-height: 50px;
    white-space: normal;
    -webkit-white-space: normal;
  }
  .comment {
    position: absolute;
    right: 10px;
    bottom: 0;
  }
}