<ion-view class="profile" view-title="{{ctrl.profile.name}}">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-gear-a"
        ng-if="ctrl.showSetting"
        href="#"
        ng-click="tabCtrl.go('settings')">
    </a>
  </ion-nav-buttons>
  <ion-content scroll="false">

    <vo-tabs>
      <vo-tab>
        <ion-pane> 
          
          <div class="profile-info">
            <profile-info active="vote"></profile-info>
          </div>

          <ion-content class="nested" 
                        profile-shrink 
                        ng-controller="RecentVotesCtrl as vctrl"
                        scroll-event-interval="5">
            <div class="padding"></div>
            <ion-refresher on-refresh="vctrl.fetchVotes(true)">
            </ion-refresher>

            <div class="list">
              <div class="item-container" 
                    collection-repeat="vote in vctrl.votes">
                <a class="item item-thumbnail-left" 
                    href="#" 
                    ng-click="tabCtrl.go('pollcard', { id: vote._poll.id, poll: vote._poll })">
                  <vo-card-img class="thumbnail" 
                                src1="{{vote._poll.answer1.picture}}"
                                src2="{{vote._poll.answer2.picture}}">
                  </vo-card-img>
                  <p>
                    <img class="img-avatar" ng-src="{{vote._poll.createdBy.picture}}">
                    <span class="ft-orator name" ng-bind="::vote._poll.createdBy.name"></span>
                  </p>
                  <p class="total-hits">
                    <i class="icon ion-checkmark-round"></i>
                    {{vote._poll.answer1.numVotes + vote._poll.answer2.numVotes}} 
                    <span class="ft-orator">hits</span>
                  </p> 
                  <div class="question">
                    <h3>{{ vote._poll.question }}</h3>
                  </div>
                  <p class="comment">
                    {{ vote._poll.numComments }}  
                   <span class="ft-orator">comment</span> 
                  </p>
                </a>
              </div>
            </div>

            <ion-infinite-scroll
                ng-if="!vctrl.noMoreData"
                on-infinite="vctrl.fetchVotes()">
            </ion-infinite-scroll>

          </ion-content>

        </ion-pane>

      </vo-tab>
      <vo-tab>
        <ion-pane>

          <div class="profile-info">
            <profile-info active="poll"></profile-info>
          </div>

          <ion-content class="nested" 
                        profile-shrink 
                        ng-controller="RecentPollsCtrl as pctrl"
                        scroll-event-interval="5">
            <div class="padding"></div>
            <ion-refresher on-refresh="pctrl.fetchPolls(true)">
            </ion-refresher>

            <div class="list">
              <div collection-repeat="poll in pctrl.polls"
                    class="item-container">
                <a class="item item-thumbnail-left" 
                    href="#" 
                    ng-click="tabCtrl.go('pollcard', { id: poll.id, poll: poll })">

                  <vo-card-img class="thumbnail" 
                                src1="{{poll.answer1.picture}}"
                                src2="{{poll.answer2.picture}}">
                  </vo-card-img>
                  <h2>{{ poll.question }}</h2>
                  <p>
                    {{poll.answer1.numVotes + poll.answer2.numVotes}} hits
                  </p>
                </a>
              </div>
            </div>

            <ion-infinite-scroll
                ng-if="!pctrl.noMoreData"
                on-infinite="pctrl.fetchPolls()">
            </ion-infinite-scroll>

          </ion-content>

        </ion-pane>

      </vo-tab>
    </vo-tabs>

  </ion-content>

 </ion-view>