<div class="profile-info-content">
  <div class="container">
    <div class="info-box">
      <img class="profile-picture" ng-src="{{ctrl.profile.picture}}">
      <p class="profile-name">
        <span class="name">{{ ctrl.profile.name }}</span>
      </p>
    </div>
  </div>

  <hr style="margin: 0 10px; border-top: 1px solid #888">

  <div class="row profile-actions">
    <a class="col f-link"
        href
        ng-click="tabCtrl.go('userlist', { userId: ctrl.profile.uid, type: 'following' })"> 
      following <span>{{ctrl.profile.numFollowing}}</span>
    </a>
    <a class="col f-link"
        href
        ng-click="tabCtrl.go('userlist', { userId: ctrl.profile.uid, type: 'followers' })"> 
      followers <span>{{ctrl.profile.numFollowers}}</span>
    </a>
    <div class="col button-container" ng-if="!ctrl.isMyProfile">
      <a class="button button-small button-balanced" 
        href
        ng-click="ctrl.unfollow(ctrl.profile.uid)"
        ng-if="!ctrl.isMyProfile && ctrl.profile.following === true">
        following
      </a>
      <a class="button button-small button-stable button-follow" 
        href
        ng-click="ctrl.follow(ctrl.profile.uid)"
        ng-if="!ctrl.isMyProfile && ctrl.profile.following === false">
        <i class="ion-plus"></i> follow
      </a>
    </div>
  </div>

  <div class="button-row row">
      <a class="col"
          ng-class="{ active: active === 'vote' }"
          ng-click="ctrl.selectTab(0)">
        VOTE
      </a>
      <a class="col"
          ng-class="{ active: active === 'poll' }"
          ng-click="ctrl.selectTab(1)">
        POLL
      </a>
  </div>

</div>