/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// our app theme color
// $royal:                           #0e116e !default;
$royal:                           #3F51B5 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

//---- Custom styling for the app ----

// .platform-android {
//   .tabs-top.tabs-striped .tab-item.tab-item-active, 
//   .tabs-top.tabs-striped .tab-item.active, 
//   .tabs-top.tabs-striped .tab-item.activated {
//     margin-top: 1px;
//   }
// }

.bar.bar-light .title {
  color: $royal; 
}

.platform-ios, .platform-android {
  .tabs-royal > .tabs, .tabs.tabs-royal {
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    color: $royal; 
  }
  .tabs-royal > .tabs .tab-item .badge, .tabs.tabs-royal .tab-item .badge {
    background-color: $royal;
    color: #f8f8f8; 
  }
}

//---- end custom styling for the app ----

// Include all sub scss files for the app
@import "home/home";
@import "profile/profile";
@import "login/login";
@import "components/pollcard/pollcard";