/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// our app theme color
// $royal:                           #28225c !default;
$royal:                           #A5D5F4 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

//-----------------------------------------------------------------------------
//                        Custom Style for the App
//-----------------------------------------------------------------------------

//=============================================================================
//                             Themes
//=============================================================================
$tabs-color: #54575A;
$title-color: #54575A;

@font-face {
  font-family: 'Bank Gothic Light BT';
  font-style: normal;
  font-weight: normal;
  src: local('Bank Gothic Light BT'), url('../fonts/bankgothic-lt-bt/TT0589M_.woff') format('woff');
}

@font-face {
  font-family: 'AmerTypewriterITCbyBT-Medium';
  src: url('../fonts/american-type-writer/AmerTypewriterITCbyBT-Medium.woff2') format('woff2'),
    url('../fonts/american-type-writer/AmerTypewriterITCbyBT-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/** Overridding Ionic Defaults */
body, h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6 .item, .item-divider {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}
.app .bar .title {
  font-family: 'AmerTypewriterITCbyBT-Medium', sans-serif;
}

#app-logo {
  font-family: 'Bank Gothic Light BT';
  font-size: 30px;
  font-weight: bold;
}

.app .pane {
  background: #E2DFE4
}

// Main Bar Theme 
.bar.bar-royal {
  border-color: $royal;
  background-color: $royal;
  background-image: linear-gradient(0deg, $royal, $royal 50%, transparent 50%);
  color: $title-color; 
}
.bar.bar-royal .title {
  color: $title-color; 
}
.bar-royal .button {
  border-color: $royal;
  background-color: $royal;
  color: $title-color; 
}
.bar-royal .button:hover {
  color: $title-color;
  text-decoration: none; 
}
.bar-royal .button.active, .bar-royal .button.activated {
  border-color: $royal;
  background-color: $royal;
  // box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); 
}
.bar-royal .button.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: $title-color;
  font-size: 17px; 
}
.bar-royal .button.button-icon {
  border-color: transparent;
  background: none; 
}

// Main Button Theme
.button.button-royal {
  border-color: #81c5f0;
  background-color: $royal;
  color: $title-color; }
  .button.button-royal:hover {
    color: $title-color;
    text-decoration: none; }
  .button.button-royal.active, .button.button-royal.activated {
    border-color: #81c5f0;
    background-color: #81c5f0;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
  .button.button-royal.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: $royal; }
  .button.button-royal.button-icon {
    border-color: transparent;
    background: none; }
  .button.button-royal.button-outline {
    border-color: $royal;
    background: transparent;
    color: $royal; }
    .button.button-royal.button-outline.active, .button.button-royal.button-outline.activated {
      background-color: $royal;
      box-shadow: none;
      color: $title-color; }


.app .tabs-dark > .tabs {
  // background-color: $tabs-color;
}


// .app ion-content {
//   border-top: 8px solid white;
// }

// buttons 

.button.button-balanced,
.button.button-balanced:hover {
  border-color: #000020;
  background-color: #FBFFA6;
  color: #000020;
}
.button.button-balanced.active, .button.button-balanced.activated {
  border-color: #000020;
  background-color: #EAEDA4;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}
//=============================================================================
//                             Common
//=============================================================================

.platform-android .only-ios {
  display: none !important;
}
.platform-ios .only-android {
  display: none !important;
}

.app a.activated .name {
  color: #888;
}
.app a.activated.name {
  color: #888;
}

.app .spinner-center {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -20px;

  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}

.app img.img-avatar {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  vertical-align: middle; 
}
.app a.user-name {
  display: inline-block;
  text-decoration: none;
  > .img-avatar {
    display: inline-block;
    vertical-align: middle; 
    width: 40px;
    height: 40px;
  }
  > span {
    display: inline-block;
    color: #000;
  }
}

//-----------------------------------------------------------------------------
//                        End custom styling for the app
//-----------------------------------------------------------------------------

// Include all sub scss files for the app
@import "components/vocard/vocard";
@import "tab/home/home";
@import "tab/polldetail/polldetail";
@import "tab/profile/profile";
@import "tab/userlist/userlist";
@import "tab/about/about";
@import "tab/notification/notification";
@import "login/login";