/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// our app theme color
$royal:                           #1E1532 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

//-----------------------------------------------------------------------------
//                        Custom Style for the App
//-----------------------------------------------------------------------------

//=============================================================================
//                             Themes
//=============================================================================
$tabs-color: #000000;

@font-face {
  font-family: 'Bank Gothic Light BT';
  font-style: normal;
  font-weight: normal;
  src: local('Bank Gothic Light BT'), url('../fonts/bankgothic-lt-bt/TT0589M_.woff') format('woff');
}

@font-face {
  font-family: 'OratorStd';
  src: url('../fonts/oratorStd/OratorStd.woff') format('woff'),
       url('../fonts/oratorStd/OratorStd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmerTypewriterITCbyBT-Medium';
  src: url('../fonts/american-type-writer/AmerTypewriterITCbyBT-Medium.woff2') format('woff2'),
    url('../fonts/american-type-writer/AmerTypewriterITCbyBT-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/** Overridding Ionic Defaults */
body, h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6 .item, .item-divider {
  font-family: 'AmerTypewriterITCbyBT-Medium', sans-serif;
}
.app .bar .title {
  font-family: 'AmerTypewriterITCbyBT-Medium', sans-serif;
}

#app-logo {
  font-family: 'Bank Gothic Light BT';
  font-size: 30px;
  font-weight: bold;
}

.app .pane {
  background: -webkit-radial-gradient(#CDCCD0, #777879);
  background: radial-gradient(#CDCCD0, #777879);
}
.app .tabs-dark > .tabs {
  background-color: $tabs-color;
}
.app ion-content {
  border-top: 8px solid white;
}
//=============================================================================
//                             Common
//=============================================================================
.app p.ft-orator, 
.app a.ft-orator,
.app span.ft-orator {
  // font-weight: bold;
  line-height: 10px;
  // font-size: 14px;
  // padding-top: 5px;
  font-family: 'OratorStd';
}
.app .ft-orator {
  p, a, span {
    // font-weight: bold;
    line-height: 10px;
    // font-size: 14px;
    // padding-top: 5px;
    font-family: 'OratorStd';
  }
}
.app .spinner-center {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -20px;

  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}

.app img.img-avatar {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

//-----------------------------------------------------------------------------
//                        End custom styling for the app
//-----------------------------------------------------------------------------

// Include all sub scss files for the app
@import "components/vocard/vocard";
@import "tab/home/home";
@import "tab/pollcard/pollcard";
@import "tab/profile/profile";
@import "tab/about/about";
@import "login/login";